<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link href='http://fonts.googleapis.com/css?family=Signika:700' rel='css/style.css' type='text/css'>
  <title>Random Bush Quote Generator</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>George W Bush Quote Generator</h1>
   <p>George W. Bush quote generator, honoring one of the greatest and smartest presidents of our time.</p>
   
   <form method="POST" action="/quote_page">
     
   <div id= "dropdown">
   
  <input type="radio" value="personal" name="Category">Personal <br>
  <input type="radio" value="foreign_policy" name="Category">Foreign Policy <br>
  <input type="radio" value="military" name="Category">Military <br>
  <input type="radio" value="idiotic" name="Category">Idiotic <br>
  <input type="radio" value="america" name="Category">America

     </div>
     <br>
     
     <div id= "button">
     <input type="submit">
     </div>
     <h5>Created by <a href= "https://anonymoustexter.herokuapp.com/myapps.erb">Jake Klaristenfeld</a> and Lee Ratson</h5>
     <h5>Partnering with the <a href="https://trumpenator.herokuapp.com">Trumpenator team</a></h5>
     
   </form>
 </body>
</html>